@import "./src/styles/mixins";
@import "./src/styles/vars";

.form {

}

.containerForm {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  background: #F9F9FE;
  width: 413px;
  border-radius: 8px;
}

.formTitle {
  margin-top: 25px;
  @include textPop("Poppins", 26px, 600, 39px);
}

.formSubTitle {
  margin-top: 32px;
  @include textPop("Poppins", 22px, 600, 33px);
}

.formLogin {
  margin-top: 38px;
}


.buttonInner {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}


.textNewPassword {
  height: 48px;
  width: 347px;
  margin-top: 30px;
  @include textSan("San Francico", 16px, 400, 24px);
  color: #2D2E46;
  opacity: 0.5;
}

