.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    margin-right: 10px;
    background: white;
    cursor: pointer;
}

.checkbox:checked {
    appearance: none;
    background: url('cgedked.jpg') 0 0/20px 20px no-repeat;

}

.checkbox:focus {
    border: #200bc6 solid 1px;
}
