@import "./../styles/vars";


@mixin textSan($fontFamily,$fontSize,$fontWeight,$lineHeight) {
  font-family: "San Francisco";
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin textPop($fontFamily,$fontSize,$fontWeight,$lineHeight) {
  font-family: 'Poppins';
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

//@mixin media($width, $type:min) {
//  @if map_has_key($breakpoints, $width) {
//    $width: map_get($breakpoints, $width);
//    @if $type == max {
//      $width: $width - 1px;
//    }
//  }
//  @media (#{$type}-width: $width) {
//    @content;
//  }
//}