@import "./src/styles/mixins";
@import "./src/styles/vars";

.tableHeader {
  background: #ECECF9;
  height: 48px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  grid-gap: 5px;
}

.tableHeaderTitle {
  @include textSan("San Francisco",13px,700,16px);
}
