@import "./../../../styles/mixins";

.inputPassword {
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 347px;
  margin-top: 24px;
  position: relative;
}

.password {
  height: 50px;
  border: none;
  border-bottom: 2px solid rgba(36,37,74,0.2);
  padding-bottom: 8px;
  background-color: transparent;
  @include textSan("San Francico",16px,500,24px);
}

.labelPassword {
  @include textSan("San Francico",13px,400,20px);
  color: #24254A;
  opacity: 0.5;
}

