@import "./src/styles/mixins";
@import "./src/styles/vars";

.btnSmall{
  height: 36px;
  width: 124px;
  border-radius: $borderRadius;
  background: #D7D8EF;
  @include textSan("San Francico",16px, 500, 19px);
  color: #21268F;
  border: none;
}