.container {
  padding: 24px 136px 71px 136px;
  border: 2px solid red;
}

//.cardsList {
//  display: grid;
//  grid-template-columns: 0.2fr 0.8fr;
//  height: 640px;
//  border: 2px solid red ;
//}

.main {
  padding: 24px 48px 20px 48px;
}
.search{
  display: flex;
  align-items: center;
}