@import "./src/styles/mixins";
@import "./src/styles/vars";

.tableRow{
  @include textSan("San Francisco",13px,400,16px);
  height: 48px;
  width: 669px;
}

.tableBtnInner {
  display: flex;
}

.tableButton {
  height: 24px;
  width: 28px;
  border-radius: 2px;
}
