.container {
  padding: 24px 136px 71px 136px;
  border: 2px solid red;
}

.packsList {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  height: 640px;
  border: 2px solid red ;
}

.aside {
  display: flex;
  flex-direction: column;
  border: 2px solid red ;
  align-items: center;
  padding-top: 33px;
  background: #ECECF9;

}
.main {
  padding: 24px 48px 20px 48px;
  background: #FEFEFF;
}

.search{
  display: flex;
  align-items: center;
}

.packsContainerInner {
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.wrapperPaginator{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px auto 0 auto;
}

