@import "./src/styles/mixins";
@import "./src/styles/vars";

.tableRowInner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5,1fr);
  @include textSan("San Francisco",13px,400,16px);
  padding-left: 24px;
  height: 48px;
  grid-gap: 5px;
}

.tableRowInner:nth-child(2n+1) {
  background: #F8F7FD;
}

.tableBtnInner {
  display: flex;
  gap: 15px;
}

.tableButton {
  height: 24px;
  width: 28px;
  border-radius: 2px;
}
